
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;	
	margin-bottom: 1.875rem;
}

.post-thumbnail {
	img {
		width: 100%;
		height: auto;
	}
}

.post-txt{
	width: 50%;
	margin-left: 7.7%;
	position: absolute;
	top: 60%;
	color: white;	
}

.entry-title {
	font-weight: 700;
	font-size: 1.75rem;
	margin-bottom: 1rem;
	line-height: 1.25;
}

.entry-meta {
	font-size: 0.875rem;
	color: #acabab;
	margin-top: 1.78rem;
	margin-bottom: 1rem;
}

.entry-content { 
	font-size: 0.9375rem;
	line-height: 2;
	margin-bottom: 0;
}
