
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/

.contact {
	background-color: #ffffff; width: 45.39%;
 	@media (max-width: 768px) {
		width: 100%;
		padding-bottom: 3rem;
		background-color: #ffffff;
	}
	@media (max-width: 576px) {
		width: 100%;
	}
	@media (max-width: 375px) {
		width: 100%;
	}

	.contact-email {
		font-size: 2.25rem;
		font-family: $heading-font;
		font-weight: 400;
		color: $primary;
		line-height: 4rem;
		margin-bottom: 0;
	}

	.contact-title {
		font-size: $h1-font-size;
		font-family: $heading-font;
		font-weight: 700;
		color: $primary-menu-second-font-color;
		line-height: 4rem;
		margin-top: 7.03rem;
		margin-bottom: 2.343rem;
		margin-left: 7.8125%;

		@media (max-width: 768px) {
			margin-left: 0 !important;
			text-align: center;
		}

		@media (max-width: 375px) {
			margin-left: 0 !important;
			text-align: center;
		}

	}

	.contact-icons {
		margin-left: 7.8125%;
		@media (max-width: 768px){
			margin-left: 0 !important;
			text-align: center;
		}
		@media (max-width: 375px){
			margin-left: 0 !important;
			text-align: center;
		}
		&.dark-contact a {
			color: white;
			font-size: 0.7rem;
		}

		&.light-contact a {
			color: $secondary;
			font-size: 0.875rem;
		}

		li {
			a {
				font-family: $body-font;
				line-height: 2rem;
				
				&:hover {
					color: $primary;
				}

				.contact-icon {
					color: $primary;
					display: inline-block;
					margin-right: 1.2rem;
					font-size: 1.2rem;
					width: 1.8rem;
					text-align: center;
				}
			}
		}
	}

	.form-container {
		margin-left: 7.8125%;
		width: 78.46506300114548%;
		height: 49.15057720421435%;
		@media (max-width: 768px) {
			margin: auto !important;
		}

		label {
			font-size: 0.687rem; 
			font-weight: $input-font-weight; 
            font-family: $body-font;
			&:before {
				color: $label-color;
			}
		}
		> .form-select {
			~ label {
				color: $primary;
			}
		}
		> .form-control:-webkit-autofill {
			~ label {
				color: $primary;
			}
		}
	}
}

.map-container {
	padding: 0; width: 41.953125% !important;
	@media (max-width: 768px) {
		width: 100% !important;
	};
	@media (min-width: 1200px) {
		width: 41.953125%;
	};
	@media (max-width: 576px) {
		width: 100% !important;
		padding: 0 !important;
	};
}

.about-bg {
	background-image: radial-gradient(circle at 25% 30%, #8d6b59, #5d3b31)
}

.feedback {
	input {
		color: $body-color;
		background-color: $third-color;
	}

	button {
		background-color: $third-color;
		
		i {
			font-size: 1.25rem;
			line-height: 1.5rem;
		}
	}
}

.error-404 {
	@media (min-width:1400px) {
		height:29.765625rem;
	}
	button {
		width:11.25rem; 
		height: 3.515625rem; 
		color:white !important; 
        margin-left:1.78125rem; 
		margin-top: 1.875rem;
		font-family: $body-font;
		font-weight: 400;
		font-size: 0.9375rem;
	}
}

.col-37 {
	width: 100%;

	@media (min-width: 1600px) {
		width: 37%;
	}
}

.col-63 {
	width: 100%;

	@media (min-width: 1600px) {
		width: 63%;
	}
}

.choose-title {
	padding: 1rem 2rem;
	justify-content: center;
	text-align: center;
	
	@media (min-width: 992px) {
		justify-content: start;
		text-align: left;
		padding: 1rem 2.5rem;
	}
	
	@media (min-width: 1600px) {
		justify-content: end;
		text-align: left;
		padding: 3rem 5rem;
	}

	h3 {
		color: #282828;
		font-size: $h3-font-size;
		line-height: 2.3rem;
		font-weight: 700;
		margin-bottom: 0;
	}
}

.choose-content {
	padding-left: 2.34375rem;
	padding-right: 2.4rem;
	
	@media (min-width: 1600px) {
		padding-right: 8rem;
	}

	span {
		color: #282828;
		font-size: $h5-font-size;
		line-height: 1.5rem;
		font-weight: 400;
	}
}

.blue-bg-size {
	width: 8.9%;
}

.text-margin {
	margin-left: 15.58%;
}
.lh-sm1 { 
	line-height: 1.15 !important; }
.lh-sm2 { 
		line-height: 1.2 !important; }	
.lh-sm3 { 
	line-height: 1.41 !important; }
.lh-sm4 { 
		line-height: 1.675 !important; }
.lh-1-6 { 
	line-height: 1.6 !important; }		
.lh-1-7 { 
	line-height: 1.7 !important; }						
.lh-lg1 {
	line-height: 1.79 !important; }	
.lh-lg2 {
	line-height: 3.75 !important; }	
.lh-lg3 {
		line-height: 1.875 !important; }
.lh-lg4 {
	line-height: 2.625 !important; }
.fs-7 {
	font-size: 1.187rem !important; } 
.fs-8 {
	font-size: 1.5rem !important; } 
.fs-9 {
	font-size: 0.99rem !important; } 
.fs-10 {
		font-size: 1.625rem !important; } 		
.fs-11 {
	font-size: 2.667rem !important; } 
.fs-12 {
	font-size: 1.312rem !important; } 
.fs-13 {
	font-size: 0.93rem !important; } 
.fs-14 { font-size: 2rem !important }
.fs-15 { font-size: 1.75rem !important }
.fs-20 { font-size: 0.94rem !important }
.border-top-right-radius-custom {
	border-top-right-radius: 0.5625rem; }
.text-body {
	color: $primary-menu-second-font-color !important; }
.text-margin-2 {
	margin-left: 20.29%; }
.text-color {
	color: #696969; }
.nav-text-color {
	color: $heading-color; }
.item-color1 {
	color: $bg-primary; }
.item-color2 {
	color: $body-color; }
.space1 {
	width: 3.67%; }	
.item-height1 {
	height: 1.406rem; }
.item-height2 {
	height: 0.9rem; }	
.item-height3 {
	height: 3.562rem }
.item-height-4 {
	height: 3.52rem }
.item-height-5 {
	height: 6.75rem }							
.mb-6 {
	margin-bottom: 1.2rem !important; }
.rounded-4 {
	border-radius: 0.42rem !important; }
.item-width-1 {
	width: 11.25rem; }
.container-max-width {
	max-width: 87.25rem; }
.agents {
	width: 18.19rem;
	height: 20.48rem; }
.agents-2 {
	width: 40.69rem;
	height: 24.98rem; }
.custom-section {
	padding-top: 6.046875rem;
	padding-bottom: 13.59375rem; }
.trust-bg {
	background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 32rem;

	@include media-breakpoint-down(xl) {
		background-image: none !important;
		background-color: #1a2329;
	}
}

.statis-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	margin-bottom: 2.15rem;
	text-align: center;;

	@include media-breakpoint-down(lg) {
		margin-bottom: 1.5rem;
		margin-top: 0.5rem;
	}

	hr {
		color: transparent;
		border-top: 0.375rem solid $theme-color;
		margin: 0rem 1.875rem 0rem 0rem;
		opacity: 1;
		@media (max-width: 375px) {
			display:  block !important;
			text-align: center !important;
			align-items: center !important;
			margin: auto !important;
			padding-top: 2rem !important;
		}
	}

	@media (max-width: 375px) {
		display:  block !important;
		text-align: center !important;
		align-items: center !important;
		margin-top: 2rem !important;
	}

}

.trust-list {
	.trust-wrap {
		display: flex;
		align-items: center;
		.trust-list-icon {
			width: 3.1875rem;
			line-height: 1; 

			i {
				color: $theme-color;
				font-size: 1.875rem;
			}
		}

		.trust-list-text {
			a {
				font-family: $heading-font;
				font-size: 1.3125rem;
				font-weight: 700;
				color: #fff;
				line-height: 1;
			}
		}
	}

	.text-trust {
		font-family: $body-font;
		font-weight: 300;
		color: #919191;
		line-height: 1.5;
		margin-left: 3.1875rem;
		margin-top: 1.3125rem;
		margin-bottom: 0 !important;
		text-align: justify !important;

		@include media-breakpoint-down(lg) {
			margin-left: 0;
		}
	}
}

.hw-1 { width: 55.4%; }

.hw-2 { width: 28.5%; }

.hw-3 { width: 45.7%; }

.hw-4 { width: 75.2%; }

.hw-5 { width: 19.7%; }

.fw-medium { font-weight: 500 !important }
.fw-semi-bold  { font-weight: 600 !important }

.mt-6 { margin-top: 0.8rem !important }

.button-1 {
	width: 4.17rem;
	height: 2.25rem; }
.button-2 {
	width: 2.25rem;
	height: 2.25rem; }
.button-3 {
	width: 7.03rem;
	height: 2.8rem; }		
.button-4 {
	width: 8.34rem;
	height: 3.94rem; }
.width-93 {
	width: 5.8rem;}
.width-351 {
	width: 22rem;
	@media (max-width: 768px) {
		width: 100% !important;
	}
}			
.bg-color-white {
	background-color: #ffffff; }
.bg-color-orange {
	background-color: #ff7a22;}	
.bg-color-319cff {
	background-color: #319cff;}		
.font-montserrat {
	font-family: 'Montserrat';}
.font-kanit {
	font-family: 'kanit';}	
.f-white-color {
	color: #ffffff;}
.f-orange-color {
	color: #ff7a22;}	
.f-18-67-size {
	font-size: 0.875rem; }
.f-2d2b29-color {
	color: #2d2b29; }
.f-dddddd-color {
	color: #dddddd; }	
.f-acabab-color {
	color: #acabab; }
.f-319cff-color {
	color: #319cff; }		
.border-radius-c-1 {
	border-radius: 0.42rem;}
.m-l-54-4 {
	margin-left: 3.4rem; }	
.m-l-41-25 {
	margin-left: 2.58rem; }	
.m-l-26-25 {
	margin-left: 1.64rem; }		
.m-l-15 {
	margin-left: 0.94rem; }	
.m-l-10 {
	margin-left: 0.625rem; }
.m-l-9 {
	margin-left: 0.56rem; }			
.m-l-7 {
	margin-left: 0.44rem; }
.m-b-16-5 {
	margin-bottom: 1.03rem !important; }	
.m-b-18 {
	margin-bottom: 0.84rem !important; }
.m-b-22 {
	margin-bottom: 1.03rem !important; }
.m-b-27 {
	margin-bottom: 1.7rem !important; }
.m-b-53 {
	margin-bottom: 2.48rem !important; }
.m-b-56-25 {
	margin-bottom: 3.5rem !important; }		
.m-t-15 {
	margin-top: 0.94rem; }
.m-t-28-5 {
	margin-top: 1.78rem !important; }		
.m-t-30 {
	margin-top: 1.875rem; }	
.m-t-35 {
	margin-top: 2.19rem; }		
.m-t-50 {
	margin-top: 3.13rem; }	
.m-t-53 {
	margin-top: 3.28rem; }
.p-l-1-3 {
	padding-left: 1.3rem;}
.p-l-1-6 {
	padding-left: 1.6rem;}	
.p-r-1-6 {
	padding-right: 1.6rem;}	
.p-r-33-75 { 
	padding-right: 2.1rem;}	
.height-63 { 
	height: 3.937rem;}	
.height-113 { 
	height: 7.078rem;}				
.opacity-0-16 {
	opacity: 0.16;}		
.bg-ads-img	{ 
	background-image:url('../images/featured_property/property-ads.png'); }	

.detail-align {
	@media (min-width: 992px) {
		-webkit-box-pack: end!important;
		-ms-flex-pack: end!important;
		justify-content: flex-end!important;
	}
	@media (max-width: 576px) {
		justify-content: left;
		line-height: 1.5 !important;
	}
}

.detail-align-1 {
	text-align: justify !important;
	@media (min-width: 992px) {
		margin-left: 0;
		text-align: justify !important;
	}
	@media (max-width: 992px) {
		text-align: justify !important;
	}
	@media (max-width: 768px) {
		padding: 0;
		margin: auto;
		align-items: center;
		padding-left: 0.6rem !important;
		padding-right: 0.6rem !important;
		text-align: justify !important;
	}
}

.detail-align-2 {
	text-align: justify !important;
	@media (max-width: 992px) {
		justify-content: center;
		align-items: center;
		display: flex;
		margin-left: 0;
		padding-right: 0;
		padding-left: 0;
		text-align: justify !important;
	}
	@media (max-width: 768px) {
		justify-content: center;
		align-items: center;
		display: flex;
		margin-left: 0;
		padding-right: 0;
		padding-left: 0;
		text-align: justify !important;
	}
	@media (min-width: 375px) {
		padding-left: 0.5rem !important;
		padding-right: 0.5rem !important;
	}
}

.detail-align-3 {
	@media (max-width: 992px) {
		justify-content: center !important;
		align-items: center !important;
		display: flex !important;
		margin-left: 0 !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	@media (max-width: 768px) {
		justify-content: center !important;
		align-items: center !important;
		display: flex !important;
		margin-left: 0 !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
		line-height: 2 !important;
		margin-top: 1.6rem !important;
		text-align: center !important;
	}
	@media (max-width: 375px) {
		text-align: center !important;
	}
}

.detail-align-4 {
	@media (max-width: 375px) {
		text-align: center !important;
		line-height: 1.25 !important;
		padding-top: 0.9rem !important;
	}
}

.detail-align-5 {
	@media (max-width: 375px) {
		text-align: center !important;
		line-height: 1.25 !important;
		padding-top: 1.2rem !important;
	}
}

.detail-align-6 {
	@media (max-width: 375px) {
		text-align: center !important;
		line-height: 1.25 !important;
	}
}

.detail-align-7 {
	text-align: justify !important;
	@media (max-width: 375px) {
		padding-left: 1.25rem !important;
		padding-right: 1.25rem !important;
		text-align: justify !important;
	}
}

.detail-align-8 {
	text-align: justify !important;
	@media (max-width: 375px) {
		text-align: justify !important;
	}
}

.detail-align-9 {
	@media (max-width: 375px) {
		padding-left: 0.6rem !important;
		padding-right: 0.6rem !important;
	}
}

.detail-align-10 {
	@media (max-width: 768px) {
		margin-bottom: 0.6rem !important;
	}
}

.detail-width-0 {
	@media (max-width: 768px) {
		width: 0% !important;
	}
}

.detail-width-4 {
	@media (max-width: 768px) {
		width: 33% !important;
	}
	@media (max-width: 375px) {
		width: 100% !important;
	}
}

.detail-width-100 {
	@media (max-width: 768px) {
		width: 100% !important;
	}
}

.r-m-p-0 {
	@media (max-width: 768px) {
		padding: 0;
		margin: 0;
	}
	@media (max-width: 375px) {
		padding: 0;
		margin: 0;
	}
}

.r-m-p-1 {
	@media (max-width: 768px) {
		padding: 0;
		margin: 0;
	}
	@media (max-width: 375px) {
		padding: 0;
		margin: 0;
	}
}

.r-m-p-2 {
	@media (max-width: 768px) {
		padding: 0;
		margin: 0;
		text-align: start !important;
	}
	@media (max-width: 375px) {
		padding: 0;
		margin: 0;
		text-align: start !important;
		
	}
}

.btn-width-100 {
	@media (max-width: 768px) {
		width: 100% !important;
	}
	@media (max-width: 375px) {
		width: 100% !important;
	}
}
.h-100-1 {
	height: 100%;
	@media (max-width: 768px) {
		height: 60rem !important;
	}
	@media (max-width: 375px) {
		height: 100% !important;
	}
}
.r-m-p-3 {
	@media (max-width: 768px) {
		padding: 0;
		margin: 0;
	}
	@media (max-width: 375px) {
		padding-left: 0.5rem !important;
		padding-right: 0.5rem !important;
		margin: 0;
	}
}

.p-b-25 {
	padding-bottom: 1.6rem;
}
.width-5-2 {
	width: 5.2rem; }
.feedback-bg {
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 20rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 32rem;

	@include media-breakpoint-down(xl) {
		background-image: none !important;
		background-color: #2d2a43 !important;
	}
}

hr {
	margin: 0;
	color: #000;
	opacity: 1;
	height: 0.09375rem; 
}

.h-92 {
	height: 92% !important; 
}

.p-relative {
	position: relative;
}
