/*-----------------------------------------------------------------------------------
	utilities.scss
-----------------------------------------------------------------------------------*/


//-------------------- Fonts --------------------//

// Font Family
.body-font { font-family: $body-font !important; }
.heading-font { font-family: $heading-font !important; }

// Font Weight
.fw-semi-bold { font-weight: 700 !important; }

// Text Color
.text-black { color: #000 !important; }
.text-custom { color: #b4aba0 !important; }


//-------------------- Image --------------------//

img {
	&.img-full {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.bg-cover {
	background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}


//-------------------- Section ------------------//

.section {
	position: relative;
	padding-top: $section-spacer;
	padding-bottom: $section-spacer;
}


	  