
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
    display: flex;
	align-items: center;
	margin-bottom: 0.5rem;

	.icon-wrapper {
		width: 2.5rem;

		i {
			color: $theme-color;
			font-size: 1.125rem;
		}
	}
}